/* SVN.committedRevision=1504173 */
@font-face {
	font-family: "public";
	src: url("./fonts/public.eot");
	src: url("./fonts/public.eot?#iefix") format("embedded-opentype"),
		url("/nanny/font/public.woff") format("woff"), 
		url("./fonts/public.ttf")format("truetype"),
		 url("./fonts/public.svg#public") format("svg");
	font-weight: normal;
	font-style: normal;
}

@media screen and(-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "public";
		src: url("./fonts/public.svg#public") format("svg");
	}
}

[data-icon]:before {
	content: attr(data-icon);
}

[class ^="icon-"],[class *=" icon-"] {
	font-family: "public";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class ^="icon-"] *,[class *=" icon-"] * {
	font-family: sans-serif;
}

.icon-1ge:before {
	content: "\f114";
}

.icon-add:before {
	content: "\f105";
}

.icon-alipay:before {
	content: "\f115";
}

.icon-attention:before {
	content: "\f116";
}

.icon-back:before {
	content: "\f103";
}

.icon-bank:before {
	content: "\f151";
}

.icon-car:before {
	content: "\f117";
}

.icon-cart:before {
	content: "\f118";
}

.icon-cart_small:before {
	content: "\f119";
}

.icon-cell_phone:before {
	content: "\f14e";
}

.icon-clear:before {
	content: "\f10d";
}

.icon-coupon:before {
	content: "\f11a";
}

.icon-delete:before {
	content: "\f11b";
}

.icon-dialog:before {
	content: "\f11c";
}

.icon-dingdan:before {
	content: "\f11d";
}

.icon-down_arrow:before {
	content: "\f11e";
}

.icon-down_arrow_long:before {
	content: "\f11f";
}

.icon-down_arrow_small:before {
	content: "\f120";
}

.icon-edit:before {
	content: "\f121";
}

.icon-filter:before {
	content: "\f122";
}

.icon-gift:before {
	content: "\f123";
}

.icon-group:before {
	content: "\f124";
}

.icon-grow-up:before {
	content: "\f125";
}

.icon-hands:before {
	content: "\f126";
}

.icon-heart:before {
	content: "\f127";
}

.icon-history:before {
	content: "\f10c";
}

.icon-home:before {
	content: "\f128";
}

.icon-id_2:before {
	content: "\f129";
}

.icon-keyboard:before {
	content: "\f12a";
}

.icon-layer_close:before {
	content: "\f12b";
}

.icon-limit:before {
	content: "\f12c";
}

.icon-location:before {
	content: "\f12d";
}

.icon-mail:before {
	content: "\f14f";
}

.icon-merchant:before {
	content: "\f12e";
}

.icon-money:before {
	content: "\f12f";
}

.icon-more:before {
	content: "\f130";
}

.icon-my:before {
	content: "\f106";
}

.icon-password:before {
	content: "\f109";
}

.icon-pencil:before {
	content: "\f131";
}

.icon-phone:before {
	content: "\f10a";
}

.icon-qq:before {
	content: "\f132";
}

.icon-reduce:before {
	content: "\f133";
}

.icon-refresh:before {
	content: "\f134";
}

.icon-right_arrow:before {
	content: "\f135";
}

.icon-rss:before {
	content: "\f136";
}

.icon-sale:before {
	content: "\f137";
}

.icon-search:before {
	content: "\f138";
}

.icon-search_small:before {
	content: "\f139";
}

.icon-service:before {
	content: "\f13a";
}

.icon-service_2:before {
	content: "\f150";
}

.icon-setting:before {
	content: "\f13b";
}

.icon-shake:before {
	content: "\f13c";
}

.icon-share:before {
	content: "\f13d";
}

.icon-shop:before {
	content: "\f104";
}

.icon-smile:before {
	content: "\f13e";
}

.icon-sort:before {
	content: "\f13f";
}

.icon-sort_2:before {
	content: "\f140";
}

.icon-sort_big_pic:before {
	content: "\f141";
}

.icon-star:before {
	content: "\f142";
}

.icon-star_fat:before {
	content: "\f143";
}

.icon-star_fav:before {
	content: "\f144";
}

.icon-sub:before {
	content: "\f145";
}

.icon-top:before {
	content: "\f146";
}

.icon-truck:before {
	content: "\f147";
}

.icon-up_arrow_long:before {
	content: "\f148";
}

.icon-up_arrow_small:before {
	content: "\f149";
}

.icon-vip:before {
	content: "\f14a";
}

.icon-warning:before {
	content: "\f14b";
}

.icon-weibo:before {
	content: "\f14c";
}

.icon-weixin:before {
	content: "\f14d";
}