.emptyState span{display: inline-block;width: 60px;height: 60px;line-height: 60px;text-align: center;border-radius: 100%;background-color: #c7c2bc;}
.emptyState span i{    color: #fff;font-size: 4rem;}
.storeManage-goodsbox-list-state{background-color:#f6f6f6;}
body{-webkit-tap-highlight-color: rgba(0,0,0,0);}

.space-44{height: 44px;}