@charset "UTF-8";
/*--vshopIndex---*/
.index-pagecont{bottom:0;padding-bottom:33px;}
.vshopIndex-banner{background:url(http://7xiobb.com2.z0.glb.qiniucdn.com/img_banner.jpg) no-repeat;background-size:100% auto;padding:20px;position:relative;display:table;width:100%;}
.vshopIndex-banner .faceImg{width:60px;height:60px;border-radius:100%;border:2px solid #fff;display:table-cell;vertical-align:middle;position:relative;}
.vshopIndex-banner .faceImg img{width:100%;border-radius:100%;}
.vshopIndex-banner .infobox{display:table-cell;vertical-align:middle;padding-left:10px;}
.vshopIndex-banner h1{font-size:1.6rem;color:#fff;margin-bottom:10px;}
.vshopIndex-banner p{font-size:1.2rem;color:#fff;}
.vshopIndex-banner .collecBtnbox{background-color:#fff;position:absolute;bottom:20px;right:20px;display:inline-block;width:70px;height:24px;line-height:20px;text-align:center;border-radius:3px;font-size:1.2rem;}
.vshopIndex-banner .NocollecBtn{background-color:#e34d4f;color:#fff;}
.vshopIndex-banner .collecBtnbox span{display:inline-block;width:40px;text-align:left;}
.vshopIndex-banner .NocollecBtn span{width:26px;}
.vshopIndex-banner .ic-collect{margin-right:5px;}
.vshopIndex-banner .nocollect:after{content:"\e618";color:#fff;}
.vshopIndex-banner .collect:after{content:"\e619";color:#e34d4f;}
.vshopIndex-menu{padding:7px 0;background-color:#fff;}
.vshopIndex-menu li{ -webkit-box-flex: 1;  -moz-box-flex: 1; box-flex: 1;text-align:center;color:#5f6367;font-size:1.2rem;}
.vshopIndex-menu li a{display:block;}
.vshopIndex-menu li i{font-size:3rem;}
.vshopIndex-menu li .name{margin-top:10px;}
.vshopIndex-list{margin-top:15px;background-color:#fff;padding:15px 0}
.vshopIndex-list h1{margin-bottom:15px;padding-left:20px;position:relative;height:20px;line-height:20px;}
.vshopIndex-list h1:before{content:"\00a0";position:absolute;left:0;top:0;background-color:#e34d4f;width:8px;height:20px; }
.vshopIndex-list li{float:left;width:50%;padding:10px 8px 20px 8px;border-bottom:1px solid #e5e5e5;}
.vshopIndex-list li:first-child,.vshopIndex-list li:nth-child(2){border-top:none;}
.vshopIndex-list li .imgbox{margin-bottom:10px;text-align:center;overflow:hidden;}
.vshopIndex-list li .imgbox i{color:#f6f6f6;font-size:8rem;}
.vshopIndex-list li .imgbox img{width:100%;}
.vshopIndex-list li:nth-child(2n+1){border-right:1px solid #e5e5e5;}
.vshopIndex-list li:nth-child(2n){border-right:1px solid transparent;}
.vshopIndex-list li .gs-name{height:42px;overflow:hidden;font-size:1.4rem;color:#030303;line-height:150%;margin-bottom:10px;}
.vshopIndex-list li .price span{color:#e34d4f;font-size:1.6rem;margin-right:10px;}
.vshopIndex-list li .price s{font-size:1.2rem;color:#a6a6a9;}
.vshopIndex-list ul.fixed li .imgbox{
	position: relative;
}
.vshopIndex-list ul.fixed li .soldnum {
	position: absolute;bottom: 0;right: 0;background-color: rgba(0,0,0,.5);color: #fff;padding:3px 5px;
}
.fixed-menu .flexbox li a span i ,
.fixed-menu .flexbox li a .name {
	color: #cdc9c9;
}
.fixed-menu{position:absolute;bottom:0;left:0;right:0;background-color:#fff;padding:10px 0;border-top:1px solid #e5e5e5;z-index:9998;background-color: rgba(0,0,0,0.8) }
.fixed-menu ul{}
.fixed-menu li{ -webkit-box-flex: 1;  -moz-box-flex: 1; box-flex: 1;text-align:center;color:#5f6367;font-size:1.2rem;}
.fixed-menu li span{display: inline-block; text-align: center; line-height:24px; width:24px; height:24px;position: relative;}
.fixed-menu li i{font-size:2.6rem;}
.fixed-menu li div {margin-top: 5px;}
.fixed-menu li .badge {position: absolute;right: -12px;top: -5px;color: #fff;  background: #f46200; font-size: 1.3rem;  padding: 0 6px;border-radius: 16px;  line-height:15px;  min-width: 20px;  text-align: center;}
.index-sideMenu {width: 85%;position: absolute; top:44px;bottom:52px; background: #f6f6f6; overflow: auto;z-index: 9998; -webkit-transform: translate3d(-100%,0,0); transform: translate3d(-100%,0,0);  }
.index-sideMenu.open {-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
.index-sideMenu ul{padding:0 20px;}
.index-sideMenu ul li{height:40px;line-height:40px;padding:0 10px;border:1px solid #e5e5e5;margin-top:10px;}
.index-sideMenu ul li .name{float:left;font-size:1.5rem;color:#000;}
.index-sideMenu ul li i{float:right;font-size:1.5rem;color:#ddd;}
.bg-side-mask,.bg-pop-mask{position: absolute; left: 0;top: 0; bottom: 0; right: 0;  z-index: 9997;  background: rgba(50, 50, 50, 0.6);display: none;}
.bg-pop-mask{z-index:9998;}
.bg-side-mask.active{display:block;}
.bg-pop-mask.active{display: -webkit-box; display: -ms-flexbox;display: -webkit-flex;display: flex;}
/*������ά��*/
.m-qrpop,.m-pop-share{width: 80%;max-width:350px;min-height: 30%;position: relative;border-radius: 8px;background: #fff;display:none;}
.m-qrpop .Ic-close,.m-pop-share .Ic-close{position:absolute;top:10px;right:10px;font-size:2rem;}
.m-popTit {position: absolute;top: 15px;left: 20px;  }
.m-popTit .question {font-size: 2rem;color: #258dff;  }
.m-popTit .box {position: relative;display:none;  }
.m-popTit .box div {position: absolute;display: inline-block; width: 250px;padding: 10px;background-color: #0079ff;font-size: 1.2rem;color: #fff;line-height: 15px; border-radius: 5px;  top: -80px;  left: 2px;  }
.m-popTit .box div b {position: absolute;bottom: -15px;left: 20px; width: 0; height: 0; border-left: 0px solid transparent; border-right: 15px solid transparent;  border-top: 20px solid #0079ff;  }
.m-qrpop .tc h1{font-size: 1.8rem;color: #000;  padding-top: 15px;}
.m-qrpop .tc p{margin-top: 10px;font-size: 1.4rem;color: #000;}
.m-qrpop  .codeImg{padding: 10px 0 40px;text-align:center; }
.m-pop-share{padding:20px 15px;max-width:90%;min-width:85%;}
.slide-share{padding-top:15px;}
.slide-share .focus{position:relative;}
.slide-share .focus ul{float:left;width:100%;}
.slide-share .focus li{float:left;width:25%;text-align:center;margin-bottom:15px;}
.slide-share .focus li div{display:inline-block;width:35px;height:35px;text-align:center;line-height:35px;border-radius:100%;margin-bottom:7px;color:#fff;}
.slide-share .focus li div.blue{background-color:#4d9ac4;}
.slide-share .focus li div.green{background-color:#50b042;}
.slide-share .focus li div.red{background-color:#d42c4d;}
.slide-share .focus li div.yellow{background-color:#e2bf1d;}
.slide-share .focus li div i{font-size:2.4rem;}
.slide-share .focus li p{font-size:1.2rem;color:#030303;}
.slide-share .focus .imgz:nth-child(2){display:none;}
#control{text-align:center;}
#control label{display:inline-block;width:3px;height:3px;border-radius:100%;background-color:#a6a6a6;margin-right:5px;}
#control label.cur{background-color:#393939;-webkit-transform:scale(2);}

/*������ҳ*/
.shopPagebox .shopPage{display:none;}
.shopPagebox .shopPage:first-child{display:block;}
.shopPage{padding:0 10px;}
.shopPage-code{margin-top:5px;background-color:#fff;padding:7px 15px 7px 10px;}
.shopPage-code .imgbox{width:36px;height:36px;border-radius:100%;position:relative;}
.shopPage-code .imgbox img{width:100%;border-radius:100%;}
.shopPage-code .iconfont.m-level{width:16px;height:16px;line-height:11px;}
.shopPage-code .iconfont.m-level:after{content:"\e62f";font-size:1.2rem;}
.shopPage-code h1{margin:0 10px;line-height:36px;font-size:1.4rem;color:#030303;}
.shopPage-code .view{display:inline-block;height:36px;line-height:36px;color:#0079ff;font-size:1.4rem;}
.shopPage-goods{display:table;width:100%;padding:5px;background-color:#fff;margin-top:5px;}
.shopPage-goods .imgbox,.shopPage-goods .nameInfo,.shopPage-goods .codeImg{display:table-cell;vertical-align:middle;}
.shopPage-goods .imgbox{width:70px;height:70px;}
.shopPage-goods .imgbox img{width:100%;}
.shopPage-goods .nameInfo{padding:0 15px 0 10px;}
.shopPage-goods .nameInfo h1{font-size:1.4rem;color:#030303;line-height:140%;max-height:38px;margin-bottom:8px;}
.shopPage-goods .nameInfo .price{font-size:1.4rem;color:#e34d4f;}
.shopPage-goods .codeImg{width:30px;}
.shopPage-goods .codeImg i{color:#626569;font-size:2.4rem;}
.shopPage .ChatRoom{margin-top:10px;}
.shopPage .ChatRoom h1{font-size:1.2rem;color:#a6a6a9;text-align:center;margin-bottom:10px;}
.shopPage .shopkeeper,.shopPage .buyers{margin-bottom:20px;}
.shopPage .shopkeeper .chatCnt span,.shopPage .buyers .chatCnt span{display:inline-block;text-align:left;padding:0 5px;}
.shopPage .shopkeeper .chatCnt{text-align:right;}
.shopkeeper .imgbox,.buyers .imgbox{width:40px;height:40px;border-radius:100%;position:relative;}
.shopkeeper .imgbox{margin-left:15px;}
.buyers .imgbox{margin-right:15px;}
.shopkeeper .imgbox img,.buyers .imgbox img{width:100%;border-radius:100%;}
.ChatRoom .iconfont.m-level{width:16px;height:16px;line-height:11px;}
.ChatRoom .iconfont.m-level:after{content:"\e62f";font-size:1.2rem;}
.shopPage .buyers .chatCnt span{min-height:40px;padding:10px;background-color:#e3e6ec;font-size:1.5rem;color:#556893;border-radius:10px;margin-right:40px;line-height:120%;position:relative;}
.shopPage .buyers .chatCnt span:before{position:absolute;left:-15px;top:5px;content: "\00a0"; width:0; height:0; border-top:5px solid transparent; border-bottom:10px solid transparent;border-right:20px solid #e3e6ec;-webkit-transform:rotate(15deg); }
.shopPage .shopkeeper .chatCnt span{min-height:40px;padding: 11px 10px 10px 10px;background-color:#0079ff;font-size:1.5rem;color:#fff;border-radius:10px;margin-left:40px;line-height:120%;position:relative;}
.messageSend i,.messageSend .sendBtn{margin:0 10px;}
.messageSend .sendBtn{font-size:1.6rem;color:#030303;}
.messageSend i{font-size:2.4rem;color:#5f6367;}
.messageSend .inputbox{border:1px solid #ededed;border-radius:5px;padding:0 15px;}
.messageSend .inputbox input{width:100%;height:30px;line-height:30px;border:none;outline:none;}
.shopPage .shopkeeper .chatCnt span:after{position:absolute;right:-15px;top:5px;content: "\00a0"; width:0; height:0; border-top:5px solid transparent; border-bottom:10px solid transparent;border-left:20px solid #0079ff;-webkit-transform:rotate(-7deg); }
.messageSend{position:absolute;left:0;right:0;bottom:0;background-color:#fdfdfd;padding:7px 10px;height:48px;line-height:32px; }
/*��ϵ����Ϣ*/
.show-newsList{padding:10px 0 5px 0;overflow:hidden;height:60px;position:absolute;top:44px;left:0;right:0}
.show-newsList ul{width:1000px;}
.show-newsList li {float: left; width: 40px; height: 40px;background: #a6a6a9; -webkit-border-radius: 100%;border-radius: 100%; position: relative; margin: 0 10px; }
.show-newsList li img{width:100%;-webkit-border-radius: 100%;border-radius: 100%;}
.show-newsList li .mask{position:absolute;top:0;left:0; width: 40px; height: 40px;-webkit-border-radius: 100%;border-radius: 100%;background:rgba(0,0,0,0.5);z-index:2;}
.show-newsList li b{display:inline-block;width:6px;height:6px;background-color:#f46200;position:absolute;top:0;right:-2px;z-index:3;-webkit-border-radius: 100%;border-radius: 100%;}
.show-newsList li.cur .mask,.show-newsList li.cur b{display:none;}
.show-newsList li.cur img{border:2px solid #e34d4f;}
/*V����Ϣ*/
.vshop-newslist{margin-top:10px;background-color:#fff;}
.vshop-newslist li{height:60px;border-top:1px solid #e5e5e5;display: -moz-box; display: -webkit-box; display:box; -webkit-box-align: center; -ms-flex-align: center; -moz-box-align: center;padding:0 10px;}
.vshop-newslist .faceImg{display:inline-block;width:40px;height:40px;text-align:center;line-height:40px;-webkit-border-radius: 100%;border-radius: 100%;margin-right:10px;position:relative;}
.vshop-newslist .faceImg img{width:100%;-webkit-border-radius: 100%;border-radius: 100%;}
.vshop-newslist .faceImg i{font-size:3.2rem;color:#fd6b6b;}
.vshop-newslist .faceImg b{display:inline-block;width:6px;height:6px;background-color:#e34d4f;position:absolute;top:0;right:-2px;z-index:3;-webkit-border-radius: 100%;border-radius: 100%;}
.vshop-newslist  .infobox{-webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1;}
.vshop-newslist  .infobox h1{font-size:1.6rem;color:#030303;}
.vshop-newslist  .infobox p{font-size:1.4rem;color:#808080;margin-top:5px;}
.vshop-newslist .time{font-size:1.2rem;color:#808080;}

/*------V�����------*/
.storeManage-buyers{padding-bottom:20px;}
.storeManage-banner{background:url(http://7xiobb.com2.z0.glb.qiniucdn.com/img_banner.jpg) no-repeat;background-size:100% auto;text-align:center;padding:20px 0 10px 0;position:relative;}
.storeManage-menu{/*position:absolute;left:50%;margin-left:-100px;top:10px;*/width:200px;height:30px;line-height:30px;/* background-color:#fdfdfd; */border-radius:5px;margin:7px auto;color: #333}
/*.storeManage-menu ul{height:30px;line-height:32px;border:1px solid #2998ff;}*/

.storeManage-menu li{float:left;width:100px;text-align:center;font-size:1.4rem;color:#5f6367;}
.storeManage-menu li:first-child{border:1px solid #e5e5e5;border-top-left-radius:5px;border-bottom-left-radius:5px;height:30px;line-height:30px;border-right:none;}
.storeManage-menu li:nth-child(2){border:1px solid #e5e5e5;border-top-right-radius:5px;border-bottom-right-radius:5px;height:30px;line-height:30px;border-left:none;}
.storeManage-menu li:first-child.cur{background-color:#2998ff;color:#fff;  }
.storeManage-menu li:nth-child(2).cur{background-color:#2998ff;color:#fff; }
.storeManage-banner .faceImg{width:60px;height:60px;border-radius:100%;border:2px solid #fff;margin:0 auto;position:relative;}
.storeManage-banner .faceImg img{width:100%;border-radius:100%;height: 100%;}
.storeManage-banner h1{font-size:1.6rem;color:#fff;line-height:100%;margin:5px 0;}
.storeManage-banner p{font-size:1.2rem;color:#e5e5e5;}
.storeManage-buyersInfo,.storeManage-sellerInfo{margin-top:12px;background-color:#fff;line-height:100%;}
.storeManage-sellerInfo{padding:10px 0 0 0;}
.storeManage-sellerInfo .viewAllOrder{padding:0 10px 20px 10px;text-align:right;color: #6a6d71;font-size: 1.4rem;}
.storeManage-sellerInfo .viewAllOrder i{font-size:1.2rem;float:right;margin-top: -1px;}
.storeManage-buyersInfo h1{font-size:1.4rem;color:#030303;padding:10px 12px;}
.storeManage-buyersInfo h1 i{font-size:1.2rem;float:right;padding-top:-2px;}
.storeManage-buyersInfo h1 .fr{color:#6a6d71;}
.storeManage-buyersInfo li,.storeManage-sellerInfo li{-webkit-box-flex: 1; -moz-box-flex: 1;box-flex: 1; color: #6a6d71;font-size: 1.2rem;text-align:center;}
.storeManage-sellerInfo li{text-align:center;}
.storeManage-buyersInfo li span{display: inline-block; text-align: center; line-height:30px; width:30px; height:30px;position: relative;}
.storeManage-sellerInfo li span{text-align: center;font-size:2.4rem;color:#030303;}
.storeManage-buyersInfo li i {font-size: 3.4rem;color:#030303;}
.storeManage-buyersInfo li .badge {position: absolute;right: -9px;top: -4px;color: #fff;  background: #e34d4f; font-size: 1.3rem;  padding: 0 5px;border-radius: 16px;  line-height: 17px;  min-width: 10px;  text-align: center;}
.storeManage-buyersInfo li .name,.storeManage-sellerInfo li .name{padding:10px 0;color:#6a6d71;}
.storeManage-buyersInfo li:first-child .name{padding-left:5px;}
.storeManage-buyer-list li{margin-top:10px;background-color:#fff;height:50px;line-height:50px;padding:0 12px;}
.storeManage-buyer-list li .fl{font-size:1.4rem;color:#030303;}
.storeManage-buyer-list li .fl i{margin-right:8px;font-size:2.2rem;}
.storeManage-buyer-list li .fr{color:#c9c9c9;}
.color1{color:#7ec518;}
.color2{color:#e7ba1f;}
.color3{color:#e34d4f;}
.color4{color:#39b74b;}
.storeManage-shop,.storeManage-operate{padding:10px 0;background-color:#fff;}
.storeManage-operate{margin-top:12px;}
.storeManage-shop li,.storeManage-operate li{-webkit-box-flex: 1; -moz-box-flex: 1;box-flex: 1;text-align: center;}
.storeManage-operate li:first-child{border-right:1px solid #c4c2c2;}
.storeManage-shop li  i,.storeManage-operate li i{font-size:3rem;color:#5f6367;}
.storeManage-shop li .name,.storeManage-operate li .name{font-size:1.2rem;color:#5f6367;margin-top:5px;}
.storeManage-seller-list{background-color:#fff;margin-top:12px;}
.storeManage-seller-list .mainMenu{height:44px;line-height:44px;border-bottom:1px solid #e5e5e5;}
.storeManage-seller-list .mainMenu ul{width:295px;margin:0 auto;}
.storeManage-seller-list .mainMenu li{padding:0 10px;float:left;margin:0 20px;line-height:44px;height:44px;font-size:1.4rem;color:#030303;}
.storeManage-seller-list .mainMenu li.cur{color:#e34d4f;border-bottom:2px solid #e34d4f;}
.storeManage-seller-list .subMenu{width:295px;margin:0 auto;}
.storeManage-seller-list .subMenu li{padding: 15px 0 10px 0;float:left;width:33.3%;text-align:center;font-size:1.2rem;color:#5f6367;position:relative;}
.storeManage-seller-list .subMenu li.cur{color:#e34d4f;}
.storeManage-seller-list .subMenu li i{font-size:1.2rem;color:#c9c9c9;}
.storeManage-seller-list .subMenu li i.up{position:absolute;top:10px;right:20px;}
.storeManage-seller-list .subMenu li i.down{position:absolute;top:20px;right:20px;}
.storeManage-seller-list .subMenu li i.cur{color:#e34d4f;}
.storeManage-goodsbox-list{padding:0 10px;display:none;}
.storeManage-goodsbox-list:first-child{display:block;}
.storeManage-goodsbox-list .item{padding:15px 0;border-top:1px solid #e5e5e5;}
.storeManage-goodsbox-list .item:first-child{border-top:none;}
.storeManage-goodsbox-list .item .imgbox{width:76px;height:76px;border:1px solid #dfdfdf;float:left;margin-right:10px;}
.storeManage-goodsbox-list .item .imgbox img{max-width:100%;max-height:100%;}
.storeManage-goodsbox-list .item .infobox{padding-left:80px;}
.storeManage-goodsbox-list .item .infobox h1{font-size:1.3rem;color:#030303;line-height:150%;height:34px;}
.storeManage-goodsbox-list .item .infobox p{margin-top:5px;}
.storeManage-goodsbox-list .item .infobox p span{color:#888;margin-right:10px;font-size:1.2rem;}
.storeManage-goodsbox-list .item .infobox p span.curPrice{font-size:1.6rem;color:#e34d4f;}
.storeManage-goodsbox-list .item .infobox p s{color:#a6a6a9;}
.storeManage-goodsbox-list .itemOperat{text-align:right;margin-top:5px;}
.storeManage-goodsbox-list .itemOperat span{display:inline-block;padding:0 20px;}
.storeManage-goodsbox-list .itemOperat span:first-child{border-right:1px solid #e5e5e5;}
.storeManage-goodsbox-list .itemOperat span i{font-size:2rem;}
.storeManage-goodsbox-list .itemOperat span.view i{font-size:2.6rem;}
.storeManage-goodsbox-list .classfy{padding-left:25px;min-height:150px;}
.storeManage-goodsbox-list .classfy li{height:44px;line-height:44px;border-bottom:1px solid #e5e5e5;position:relative;overflow:hidden;}
.storeManage-goodsbox-list .classfy li i{font-size:2rem;}
.storeManage-goodsbox-list .classfy li .move{position:absolute;left:-30px;top:0;}
.storeManage-goodsbox-list .classfy li .name,.storeManage-goodsbox-list .classfy li .num{float:left;color:#030303;}
.storeManage-goodsbox-list .classfy li .name,.storeManage-goodsbox-list .classfy li .edit{margin-right:20px;}
.storeManage-goodsbox-list .classfy li .edit,.storeManage-goodsbox-list .classfy li .delete{float:right;color:#7b7f82;}
.newClassfy{position:fixed;left:0;right:0;bottom:0;height:48px;line-height:48px;background-color:#f8f8f8;border-top:1px solid #e7e7e7;text-align:center;font-size:1.4rem;color:#030303;}
.newClassfy i{color:#e34d4f;font-size:2rem;margin-right:10px;font-weight:700;}
.storeManage-seller{position: absolute; width: 100%; height: 100%; bottom:0px;overflow-y: auto;top:0;padding-bottom:58px;}
.storeManage-fix-add{position:fixed;left:0;right:0;bottom:0;height:48px;background-color:#fff;text-align:center;font-size:1.4rem;color:#030303;border-top:1px solid #e5e5e5;z-index: 1005;}



.storeManage-fix-add i{color:#e34d4f;font-size:2.4rem;float:left;}
.storeManage-fix-add span{float:left;line-height:24px;margin-left:10px;}
.storeManage-fix-add div{width:105px;margin:12px auto;}

/*�����Ʒ*/

.gridly .dragging {z-index: 800; }
.example {  position: relative; }
.example .brick {opacity: 1;cursor: pointer;position: relative; }
.example .brick .delete {display: block;width:20px;height:20px;border-radius:100%;top: -7px;right:-7px;position: absolute;text-align: center;line-height:20px;background-color:#fff; }
.example .brick .delete:after{font-size: 2rem;  color: #333;  content: "\e607";}
.example li{float:left;margin:0 15px 15px 0;}
.example .brick.small span.imgbox{display:block;}
.example .brick.small span.imgbox img{width:100%;}
.example .brick.small span.tit{position: absolute;left: 0;right: 0; bottom: 0;height: 20px;text-align: center;background-color: #1a78cc;line-height: 20px; font-size: 1.4rem; color: #fff; display: block;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.storeManageAdd-drag{padding:0 12px;background:#fff;}
.storeManageAdd-drag .TipsSort{padding:8px 0;font-size:1.2rem;color:#5f6367;margin-bottom:5px;}
.uploadImg{background:#fff;width:60px;height:60px;text-align:center;line-height:60px;position:relative;}
.uploadImg input{position:absolute;top:0;right:0;left:0;bottom:0;width:60px;opacity:0;z-index:2;}
.uploadImg i{font-size:6rem; color: #5f6367; position: absolute; top:2px;left:0px;}
.storeMangeAdd-name{margin:12px 0;background-color:#fff;height:40px;line-height:40px;border:1px solid #e5e5e5;}
.storeMangeAdd-namewrap {padding: 0 12px;}
.storeMangeAdd-name span{display:inline-block;padding-left:10px;}
.storeMangeAdd-name input{display:block;height:100%;width:100%;outline:none;border:none;}
.storeManageAdd input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #030303; }
.storeMangeAdd-Info{padding:15px 12px;background:#fff;margin-bottom:12px;}
.storeMangeAdd-Info .model,.storeMangeAdd-Info .color,.storeMangeAdd-Info .stock{ display:-moz-box; display:-webkit-box;display:box;width:100%;border:1px solid #e5e5e5;margin-bottom:15px;-webkit-box-align: center; -ms-flex-align: center;}
.storeMangeAdd-Info .model,.storeMangeAdd-Info .stock{height:40px;line-height:40px;padding-left:10px;}
.storeMangeAdd-Info .model{position:relative;}
.storeMangeAdd-Info .model .modelChoose {position:absolute;top:30px;left:8px;width:70px;text-align:center;}
.storeMangeAdd-Info .model .modelChoose ul{border:1px solid #e5e5e5;opacity:0;}
.storeMangeAdd-Info .model .modelChoose li{height:44px;line-height:44px;background-color:#f6f6f6;font-size:1.4rem;color:#030303;}
.storeMangeAdd-Info .model .modelChoose li.cur{background-color:#e2e2e2;}
.m-wrapbox{position:absolute;top:0;left:0;right:0;bottom:0;}
.icSlideDown{text-align: center;display:block; width: 50px;margin: 15px auto 0;}
.icSlideDown i{color:#cacaca;}
.icSlideDown i.icDown:after{content:'\e64c';}
.icSlideDown i.icUp:after{content:'\e64d';}
.storeManageShow{height:0;overflow:hidden;}
.storeManageShow.stroreShow{-webkit-animation:stroreShow 0.3s linear;height:128px;}
.storeManageShow.stroreHide{-webkit-animation:stroreHide 0.3s linear;height:0px;}
@-webkit-keyframes stroreShow{
    0%{height:0px;}
    100%{height:128px;}
}
@-webkit-keyframes stroreHide{
    0%{height:128px;}
    100%{height:0px;}
}


.storeMangeAdd-Info .model .name{display:inline-block;}
.storeMangeAdd-Info .model .name b{font-weight:normal;}
.storeMangeAdd-Info .color{height:58px;}
.storeMangeAdd-Info .model i{font-size:1.2rem;}
.storeMangeAdd-Info .price{height:40px;line-height:40px;display:table;width:100%;border:1px solid #e5e5e5;margin-bottom:15px;}
.storeMangeAdd-Info .price .curPrice,.storeMangeAdd-Info .price .foldPrice{display:table-cell;width:50%;}
.storeMangeAdd-Info .price .curPrice div,.storeMangeAdd-Info .price .foldPrice div{display:-moz-box; display:-webkit-box;display:box;-webkit-box-align: center; -ms-flex-align: center;}
.storeMangeAdd-Info .price .curPrice div .name,.storeMangeAdd-Info .price .foldPrice div .name{display:inline-block;padding-left:10px;}
.storeMangeAdd-Info .price .curPrice input,.storeMangeAdd-Info .price .foldPrice input{-webkit-box-flex: 1;  -moz-box-flex: 1; box-flex: 1;display:block;height:24px;line-height:24px;width:55px;outline:none;border:none;}
.storeMangeAdd-Info .price .curPrice{border-right:1px solid #e5e5e5;}
.storeMangeAdd-Info .color .goodsAdd{width:60px;height:58px;overflow:hidden;text-align:center;border-left:1px solid #e5e5e5;padding-top:5px;position:relative;}
.storeMangeAdd-Info .color .goodsAdd input{position:absolute;left:0;right:0;bottom:0;top:0;width:60px;opacity:0;}
.storeMangeAdd-Info .color .goodsAdd i{font-size:3.2rem;color:#979a9d;}
.storeMangeAdd-Info .color .goodsAdd p{font-size:1.2rem;color:#5f6367;line-height:120%;margin-top:2px;}
.storeMangeAdd-Info .color .goodsColor{-webkit-box-flex: 1;  -moz-box-flex: 1; box-flex: 1;padding:0 10px;display:-moz-box; display:-webkit-box;display:box;line-height:58px;-webkit-box-align: center; -ms-flex-align: center;}
.storeMangeAdd-Info .color .goodsColor span{display:inline-block;}
.storeMangeAdd-Info .color .goodsColor input{-webkit-box-flex: 1;  -moz-box-flex: 1; box-flex: 1;display:block;outline:none;border:none;height:24px;line-height:24px;}
.storeMangeAdd-Info .stock{margin-bottom:0;}
.storeMangeAdd-Info .stock input,.storeMangeAdd-Info .model input {-webkit-box-flex: 1;  -moz-box-flex: 1; box-flex: 1;display:block;outline:none;border:none;height: 100%;}
.storeMangeAdd-Info .model input{height:24px;line-height:24px;}
.storeMangeAdd-Info .deleteInfo{padding-left:10px;position:relative;margin-bottom:10px;}
.storeMangeAdd-Info .deleteInfo b{width:1px;height:10px;background-color:#e34d4f;position:absolute;left:25px;top:31px;}
.storeMangeAdd-Info .deleteInfo span{display:inline-block;width:30px;line-height:30px;border-radius:100%;background-color:#e34d4f;text-align:center;}
.storeMangeAdd-Info .deleteInfo span i{font-size:2rem;color:#fff;}
.storeMangeAdd-add{height:36px;line-height:36px;padding-left:25px;margin-bottom:12px;font-size:1.4rem;color:#030303;}
.storeMangeAdd-add span{display:inline-block;width:30px;height:30px;border-radius:100%;text-align:center;line-height:30px;background-color:#e34d4f;margin-right:5px;}
.storeMangeAdd-add span i{font-size:2rem;color:#fff;}
.storeMangeAdd-classfy,.storeMangeAdd-detail{margin-bottom:12px;background-color: #fff;height: 48px;line-height: 48px;padding: 0 12px;font-size:1.4rem;color:#030303;}
.storeMangeAdd-classfy .fr{color:#5f6367;}
.storeMangeAdd-classfy .fr b{font-weight:normal;}
.storeMangeAdd-operate{padding:20px 12px;}
.storeMangeAdd-operate .store-saveBtn{margin-bottom:15px;}
.store-saveBtn{display:block;height:44px;line-height:44px;text-align:center;background-color:#e34d4f;border-radius:5px;font-size:1.5rem;color:#fff;}
.store-deleteBtn{display:block;height:44px;line-height:44px;text-align:center;background-color:#fff;border-radius:5px;font-size:1.5rem;color:#030303;}
/*�����Ʒ--ѡ�����*/
.op-chooseClassfy{background-color:#f6f6f6;position: absolute;z-index: 10003; left: 0; width: 100%; bottom: 0; overflow: auto; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0);  }
.op-chooseClassfy.active{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
.op-chooseClassfy h1{height:35px;line-height:35px;font-size:1.2rem;color:#a6a6a9;padding:0 12px;}
.op-chooseClassfy li{height:44px;line-height:44px;font-size:1.4rem;color:#030303;padding:0 12px;background-color:#fff;border-bottom:1px solid #e5e5e5;}
.op-chooseClassfy li .name{float:left;}
.op-chooseClassfy li .num{float:right;}
.op-chooseClassfy li .num b{font-weight:normal;}
.op-chooseClassfy .addTxt{height:44px;line-height:44px;text-align:center;font-size:1.2rem;color:#030303;}
.op-chooseClassfy .addTxt i{color:#e34d4f;font-size:2rem;margin-right:5px;}
.op-chooseClassfy .operate{padding:0 12px 20px 12px;}
.op-chooseClassfy a:first-child{margin-right:20px;}
.cancleBtn{display:block;height:35px;line-height:35px;background-color:#fff;color:#e34d4f;border-radius:5px;font-size:1.5rem;text-align: center}
.comfirmBtn{display:block;height:35px;line-height:35px;color:#fff;background-color:#e34d4f;border-radius:5px;font-size:1.5rem;text-align: center}
/*�ύ����*/
/*.GoodsAddress{padding:10px;}
.nologinAddress{background:#fff url(../../../images/vshop/bg_address.png) repeat-x;background-size:auto 5px;padding-top:18px;}
.nologinAddress h1{font-size:1.4rem;padding:0 10px;}
.nologinAddress h1 .fillIn{color:#5f6367;float:left;}
.nologinAddress h1 .history{float:right;color:#2999ff;}
.nologinAddress ul{background:#fff url(../../../images/vshop/bg_address.png) left bottom repeat-x;background-size:auto 5px;padding:0 10px 10px 10px;}
.nologinAddress li{height:44px;line-height:44px;font-size:1.4rem;color:#030303;border-top:1px solid #e5e5e5;}
.nologinAddress li:first-child{border-top:none;}
.nologinAddress li .name,.nologinAddress li .address{float:left;}
.nologinAddress li .address span{margin-right:10px;}
.nologinAddress li i{float:right;font-size:1.4rem;color:#d7d7d7;}
.PurchaseGoods{background-color:#fff;margin-top:10px;}
.PurchaseGoods .shopName{height:48px;line-height:48px;padding:0 10px;}
.PurchaseGoods .tit{padding:10px;border-bottom:1px solid #e5e5e5;}
.PurchaseGoods .tit .faceImg{width:36px;height:36px;border-radius:100%;position:relative;float:left;}
.PurchaseGoods .tit .faceImg img{width:100%;border-radius:100%;}
.PurchaseGoods .tit h1{padding-left:46px;font-size:1.4rem;color:#030303;line-height:36px;}
.PurchaseGoods-list{padding-left:10px;}
.PurchaseGoods-list .item{padding:10px 10px 10px 0;}
.PurchaseGoods-list .imgbox{width:70px;height:70px;border:1px solid #e5e5e5;float:left;margin-right:10px;}
.PurchaseGoods-list .imgbox img{max-height:100%;max-width:100%;}
.PurchaseGoods-list .infobox{font-size:1.2rem;color:#030303;}
.PurchaseGoods-list .infobox p{margin-top:8px;}*/

/*��������*/
.m-topbar .m-finish{font-size:1.4rem;color:#e34d4f;}
.shopSet-list{margin-top:10px;height:60px;line-height:60px;background-color:#fff;padding:0 15px 0 25px;}
.shopSet .shopIco{padding:5px 15px  5px 25px;height:70px;}
.shopSet .shopIco .shopImg{float:right;display:inline-block;width:60px;height:60px;border-radius:100%;overflow:hidden;position:relative;}
.shopSet .shopIco .shopImg .uploadImg{position:absolute;width:60px;height:60px;top:0;left:0;opacity:0;}
.shopSet .shopIco .shopImg img{width:100%;}
.shopSet-list .name{float:left;display:inline-block;color:#030303;}
.shopSet-list .setRusult{float:right;font-size:1.4rem;color:#5f6367;text-align:right;line-height:60px;}
.shopSet-list .setRusult i{font-size:2rem;}
.shopSet-list .setRusult i.ic-code{font-size:3rem;}
.shopSet-input{padding:25px 12px 0 12px;display: -webkit-box;display: -moz-box;display: box; -webkit-box-pack: justify; box-pack: justify;}
.shopSet-input .inputbox{-webkit-box-flex: 1;-moz-box-flex: 1;box-flex: 1;position: relative;height:30px;line-height:30px;}
.shopSet-input .borRed{border-bottom: 1px solid #e34d4f;}
.shopDescript textarea{width:100%;display:block;outline: none; padding: 8px 10px; font-size: 1.2rem; color: #808080; line-height: 150%; -webkit-appearance: none;border:none;}
.shopSet-input .inputbox i { width: 1px; height: 10px; position: absolute; bottom: 0; }
.shopSet-input .inputbox .borL {left: 0;background-color: #e34d4f;}
.shopSet-input .inputbox .borR{right:0;background-color: #e34d4f;}
.shopSet-input .inputbox input{width:100%;font-size:1.5rem;color:#030303;border:none;outline:none;text-align:center;height:30px;line-height:30px;background-color:transparent;}
.shopSet-input-tips{margin-top:8px;font-size:1.2rem;color:#9fa0a2;padding:0 12px;}

/*�ҵ��ղ�*/
.collectMenu{height:40px;line-height:40px;border-bottom:1px solid #e5e5e5;margin-top:10px;background-color:#fff;}
.collectMenu ul{width:100%;}
.collectMenu ul li{width:50%;float:left;text-align:center;}
.collectMenu ul li a{display: inline-block;height: 38px;line-height: 38px;padding:0 10px;font-size:1.4rem;color:#030303;border-bottom:2px solid transparent;}
.collectMenu ul li.cur a{border-bottom:2px solid #e34d4f;}
.collectCnt{background-color:#fff;}
.noCollectCnt{background-color:#f6f6f6;}
.collectCnt-list li{padding:5px 15px;display:table;width:100%;border-top:1px solid #f6f6f6;}
.collectCnt-list li:first-child{border-top:none;}
.collectCnt-list li .imgbox,.collectCnt-list li .nameInfo,.collectCnt-list li .praise,.collectCnt-list li .price{display:table-cell;vertical-align:middle;}
.collectCnt-list li .imgbox{width:40px;height:40px;}
.collectCnt-list li .imgbox span{display:inline-block;width:40px;height:40px;border-radius:100%;overflow:hidden;border:1px solid #e5e5e5;}
.collectCnt-list li .imgbox img{width:100%;}
.collectCnt-list li .nameInfo{padding:0 10px;}
.collectCnt-list li .nameInfo h1{font-size:1.2rem;line-height:150%;color:#030303;}
.collectShops li .nameInfo h1{font-size:1.2rem;line-height:150%;color:#030303;}
.collectCnt-list li .price{font-size:1.4rem;color:#030303;text-align:right;min-width:40px;}
.collectCnt-list li .praise{height:40px;line-height:40px;width:20px;padding-left:10px;}
.collectCnt-list li .praise i:after{content:"\e619";color:#e34d4f;font-size:2rem;}

/*�ҵĶ���--����*/

.myOrder-seller-menu,.myOrder-buyer-menu{height:42px;line-height:42px;padding:0 12px;margin-bottom:10px;background-color:#fff;}
.myOrder-seller-menu li ,.myOrder-buyer-menu li{-webkit-box-flex: 1;  -moz-box-flex: 1; box-flex: 1;text-align:center;}
.myOrder-seller-menu li a,.myOrder-buyer-menu li a{display:inline-block;height:42px;font-size:1.5rem;color:#030303;position:relative;padding:0 5px;}
.myOrder-seller-menu li.cur a,.myOrder-buyer-menu li.cur a{border-bottom:2px solid #2999ff;}
.myOrder-seller-menu li a .badge ,.myOrder-buyer-menu a .badge{position: absolute; right: -7px; top: 4px; color: #fff; background: #e34d4f; font-size: 1.2rem; padding: 0 5px; border-radius: 16px; line-height:16px;min-width:16px; text-align: center;  }
.myOrder-seller-list-item,.myOrder-buyer-list-item{margin-bottom:10px;background-color:#fff;}
.myOrder-seller-goods{padding:10px 12px;border-bottom:1px solid #e5e5e5;}
.myOrder-seller-goods .picImg{float:left;width:70px;height:70px;overflow:hidden;}
.myOrder-seller-goods .picImg img{width:100%;}
.myOrder-seller-goods .infobox{padding-left:80px;}
.myOrder-seller-goods .infobox h1{font-size:1.4rem;color:#030303;line-height:120%;}
.myOrder-seller-goods .infobox p,.myOrder-buyer-goods .infobox p{margin-top:10px;}
.myOrder-seller-goods .infobox p .price,.myOrder-buyer-goods .infobox p .price{float:left;font-size:1.4rem;color:#e34d4f;}
.myOrder-seller-goods .infobox p .num,.myOrder-buyer-goods .infobox p .num{font-size:1.4rem;color:#a6a6a9;float:right;}
.myOrder-seller-list-item .payment,.myOrder-seller-list-item .Havedeliver{height:48px;line-height:48px;padding:0 12px;text-align:right;font-size:1.4rem;color:#030303;}
.myOrder-seller-list-item .deliver,.myOrder-buyer-list-item .deliver{padding:9px 12px;height:48px;line-height:30px;text-align:right;}
.myOrder-buyer-list-item .deliver{border-top:1px solid #e5e5e5;}
.myOrder-seller-goods .infobox p.infoDetail{height:30px;line-height:30px;}
.myOrder-seller-list-item span{margin-right:15px;font-size:1.4rem;color:#e34d4f;}
.myOrder-seller-list-item span.price{padding:0 20px 0 10px;margin-right:0;position:relative;overflow:hidden;border:1px solid transparent;border-right:none;height:30px;line-height:28px;}
.myOrder-seller-list-item span.price input{position:absolute;top:0;left:0;height:30px;line-height:28px;border:1px solid #e5e5e5;padding:0 20px 0 10px;border-right:none;outline:none;display:none;}
.myOrder-seller-list-item span.priceBtn{display:inline-block;border:1px solid #a6a6a8;color:#a6a6a8;padding:0 5px;height:30px;line-height:28px;}
.myOrder-seller-list-item span.savePriceBtn{display:inline-block;background-color:#e34d4f;border:1px solid #e34d4f;color:#fff;padding:0 5px;height:30px;line-height:28px;}
.myOrder-seller-list-item span b{font-weight:normal;}
.myOrder-seller-list-item .deliverBtn,.myOrder-seller-list-item .refundBtn{display:inline-block;width:78px;height:30px;text-align:center;line-height:30px;color:#e34d4f;border:1px solid #e34d4f;border-radius:3px;}
/*ѡ���ݹ�˾*/
.deliveryCompany{background-color:#fff;}
.deliveryCompany li{height:50px;line-height:50px;padding:0 15px;border-bottom:1px solid #e5e5e5;font-size:1.5rem;color:#303030;background-color:#fff;}

/*�ҵĶ�������*/
.myOrder-seller-detail .item,.myOrder-buyer-detail .item{background-color:#fff;margin-bottom:10px;}
.myOrder-seller-detail .item ul,.myOrder-buyer-detail .item ul{padding-left:10px;}
.myOrder-seller-detail .item ul li,.myOrder-buyer-detail .item ul li{height:45px;line-height:45px;border-bottom:1px solid #e5e5e5;font-size:1.4rem;color:#303030;}
.myOrder-seller-detail .item ul.deliver{padding:0 10px 15px 10px;}
.myOrder-seller-detail .item ul.deliver li{border-bottom:none;margin-top:15px;}
.myOrder-seller-detail .item ul li:last-child,.myOrder-buyer-detail .item ul li:last-child{border-bottom:none;}
.myOrder-seller-detail .item ul li span,.myOrder-buyer-detail .item ul li span{color:#e34d4f;}
.myOrder-seller-detail .timeTips,.myOrder-buyer-detail .timeTips{padding:0 15px 0 5px;height:48px;line-height:48px;font-size:1.2rem;color:#303030;border-top:1px solid #e5e5e5;}
.myOrder-seller-detail .timeTips i,.myOrder-buyer-detail .timeTips i{color:#e34d4f;font-size:2.4rem;margin-right:5px;}
.myOrder-seller-detail h1.tit,.myOrder-buyer-detail h1.tit{height:40px;line-height:40px;padding:0 10px;background-color:#efefef;font-size:1.4rem;color:#303030;}
.myOrder-seller-detail h1.tit b{color:#e34d4f;margin-right:5px;}
.myOrder-buyer-detail .myOrder-seller-list-item span{margin-right:0;}
.myOrder-buyer-detail .myOrder-buyer-goods{padding:10px;}
.myOrder-buyer-detail .myOrder-buyer-goods .picImg{background-color:#f6f6f6;text-align:center;border:none;}
.myOrder-buyer-detail .myOrder-buyer-goods .picImg i{font-size:4.5rem;color:#9191d1;}
.myOrder-buyer-detail .myOrder-buyer-goods p{font-size:1.4rem;color:#030303;line-height:120%;margin-top:8px;}
.myOrder-buyer-detail .myOrder-buyer-goods p:first-child{margin-top:0;}
.myOrder-buyer-detail .myOrder-buyer-list .tit{background-color:#fff;}
.myOrder-seller-detail .item ul li.flexbox span{display:inline-block;width:70px;height:40px;line-height:40px;font-size:1.4rem;color:#303030;}
.myOrder-seller-detail .item ul li.flexbox input{display:block;width:100%;height:40px;line-height:40px;border:1px solid #e5e5e5;padding-left:10px; -webkit-box-flex: 1;  -moz-box-flex: 1; box-flex: 1;}
.fixBottom{padding:5px 15px;position:absolute;left:0;right:0;bottom:0;background-color:#fff;text-align:right;border-top:1px solid #e5e5e5;-webkit-box-shadow: inset 0 1px 2px #e5e5e5;z-index:2;  }
#deliverBtn{display:inline-block;width:120px;height:40px;line-height:40px;background-color:#e34d4f;border-radius:5px;font-size:1.5rem;color:#fff;text-align:center;}
/*�˿���*/
.rufundbox{background-color:#fff;padding:10px;}
.rufundbox h1{font-size:1.4rem;color:#030303;margin-bottom:10px;}
.rufundbox h1 i{color:#ff4f4f;font-size:2rem;margin-right:5px;}
.rufundbox dl{margin-bottom:10px;}
.rufundbox dt{display:inline-block;width:95px;text-align:right;float:left;font-size:1.4rem;color:#030303;}
.rufundbox dd{padding-left:95px;color:#5f6367;font-size:1.4rem;line-height:140%;}
.rufundbox .time{font-size:1.2rem;color:#5f6367;padding-left:25px;}
.refund-operate{position:absolute;bottom:0;left:0;width:100%;background-color:#fff;padding:15px 0;height:50px;line-height:20px; }
.refund-operate a{display:block;text-align:center;}
.refund-operate a:first-child{border-right:1px solid #ff4444;}
.refund-state{padding:10px 25px;background-color:#fff;margin:10px 0;}
.refund-state .state{font-size:1.4rem;color:#030303;}
.refund-state .state .icSuccessbox{display:inline-block;width:32px;height:32px;line-height:29px;text-align:center;border:2px solid #43ca2d;border-radius:100%;margin-right:10px;}
.refund-state .state .icSuccessbox i{font-size:2rem;color:#43ca2d;}
.refund-state .state .icbox{display:inline-block;width:20px;height:20px;line-height:20px;text-align:center;border:1px solid #e34d4f;border-radius:100%;margin-right:10px;font-size:1.6rem;color:#e34d4f;}
.refund-state .time{font-size:1.2rem;color:#5f6367;margin-top:10px;}

/*�������*/
.myOrder-buyer-list-item{padding-left:10px;}
.myOrder-buyer-list .tit{padding:10px 10px 10px 0;height:50px;border-bottom:1px solid #e5e5e5;position:relative;}
.myOrder-buyer-list .tit .ic-finish{position:absolute;top:0;right:15px;color:#fdb0b1;font-size:8rem;z-index:110;}
.myOrder-buyer-list .tit .faceImg{display:inline-block;width:30px;height:30px;border-radius:100%;position:relative;margin-right:10px;}
.myOrder-buyer-list .tit .faceImg img{width:100%;border-radius:100%;}
.myOrder-buyer-list .tit h1{line-height:30px;font-size:1.4rem;color:#030303}
.myOrder-buyer-list .tit .delete,.myOrder-buyer-list .tit .state{display:inline-block;line-height:30px;position:relative;z-index:111;}
.myOrder-buyer-list .tit .state{font-size:1.4rem;color:#e34d4f;}
.myOrder-buyer-list .tit .delete i{font-size:2rem;color:#3e3e3e;}
.iconfont.m-level-s {width: 16px;height: 16px;line-height: 11px;}
.iconfont.m-level-s:after {content: "\e62f"; font-size: 1.2rem;}
.myOrder-buyer-goods{display:table;width:100%;padding:10px 0;}
.myOrder-buyer-goods .picImg{display:table-cell;width:70px;height:70px;border:1px solid #e5e5e5;vertical-align:middle;}
.myOrder-buyer-goods .picImg img{width:100%;}
.myOrder-buyer-goods .infobox{display:table-cell;vertical-align:middle;padding:0 10px;}
.myOrder-buyer-goods .infobox h1{font-size:1.4rem;color:#030303;line-height:150%;}
.myOrder-buyer-list .operate{padding:5px 13px 5px 0;border-top:1px solid #e5e5e5;text-align:right;}
.myOrder-buyer-list .operate span{font-size:1.4rem;color:#030303;}
.myOrder-buyer-list .operate span b{font-weight:normal;}
a.bgWhiteBtn{display:inline-block;width:70px;height:25px;border:1px solid #e34d4f;font-size:1.4rem;color:#e34d4f;text-align:center;line-height:25px;border-radius:3px;margin-left:10px;}
a.bgRedBtn{display:inline-block;width:70px;height:25px;background-color:#e34d4f;font-size:1.4rem;color:#fff;text-align:center;line-height:25px;margin-left:10px;border-radius:3px;}
/*ȷ���˿�--������*/
.ui-popbox-cnt .name{display:inline-block;width:32px;height:40px;line-height:40px;text-align:right;margin-right:5px;}
.ui-popbox-cnt .ui-select{height:40px;background-color:#f6f6f6; }
.ui-popbox-cnt .ui-select select{width:100%;height:40px;border:none;background-color:#f6f6f6;}
.pdt-10{padding-bottom:10px;}
